# Byte-compiled / optimized / DLL files
__pycache__

# C extensions
*.so

# Distribution / packaging
build/
open3d-devel-linux/
*.tar.gz
*.tar.xz
conda-amcax/

# compiled
.DS_Store

# output
output
results

# data
*.xyz
*.ply
*.pcd
*.obj
