# Byte-compiled / optimized / DLL files
__pycache__
.cache
.DS_Store
bin
*.so

# Distribution / packaging
build/
open3d-devel-linux/
*.tar.gz
*.tar.xz
conda-amcax/

# output
output
results

# data
*.xyz
*.ply
*.pcd
*.obj
